<!DOCTYPE html>
<html lang="en" ng-app="ngMadLibs">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="madLibsController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 smile-container">
				<img src="images/smile.png" alt="Smile logo">
			</div>
			<div class="col-lg-6 logo-container">
				<img src="images/logo.png" alt="Logo for Angular">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" ng-hide="btnIsClicked">
				<h3>Provide the following words</h3>
				<h3>Are you male/female: <a ng-click="changeGender('m')" ng-class="gender == 'm' ? 'selected' : '' ">Male</a> OR <a ng-click="changeGender('f')" ng-class="gender == 'f' ? 'selected' : '' ">Female</a></h3>
			</div>
		</div>
		<form name="myForm" ng-submit="showParagraph()">
			<div class="contentAnimation" ng-hide="btnIsClicked">
				<div class="row">
					<div class="col-lg-4"><input name="inputName" type="text" ng-model="name" class="word-bank" placeholder="name" required></div>
					<div class="col-lg-4"><input type="text" ng-model="dirtyTask" class="word-bank" placeholder="Dirty Task" required></div>
					<div class="col-lg-4"><input type="text" ng-model="obnoxCeleb" class="word-bank" placeholder="Obnoxious Celeb" required></div>
				</div>
				<div class="row">
					<div class="col-lg-4"><input type="text" ng-model="jobTitle" class="word-bank" placeholder="Job Title" required></div>
					<div class="col-lg-4"><input type="text" ng-model="celeb" class="word-bank" placeholder="Celeb" required></div>
					<div class="col-lg-4"><input type="text" ng-model="hugeNum" class="word-bank" placeholder="Huge Number" ng-minlength="3" required></div>
				</div>
				<div class="row">
					<div class="col-lg-4"><input type="text" ng-model="tediousTask" class="word-bank" placeholder="Tedious Task" required></div>
					<div class="col-lg-4"><input type="text" ng-model="uselessSkill" class="word-bank" placeholder="Useless Skill" required></div>
					<div class="col-lg-4"><input type="text" ng-model="adjective" class="word-bank" placeholder="Adjective" required></div>
				</div>
				<button id="submitBtn" type="submit">Generate</button>
			</div>
		</form>
		<div class="row contentAnimation" ng-show="btnIsClicked">
			<div class="col-lg-12 sentence">
				<p><strong>{{ name }}</strong> Was a <strong>{{ dirtyTask}}</strong> Who loved Technology. Although {{gender=='f' ? 's' : ''}}he loved parts of {{gender=='f' ? 'her' : 'his'}} job {{gender=='f' ? 's' : ''}}he hated <strong>{{ tediousTask }}</strong> and <strong>{{ dirtyTask}}</strong> So <strong>{{ name }}</strong> met {{gender=='f' ? 'her' : 'his'}}  life mentor <strong>{{ obnoxCeleb }}</strong> Who told {{gender=='f' ? 'her' : 'his'}} to learn <strong>{{uselessSkill}}</strong> With Thinkful. Thinkful didn't offer a course on <strong>{{ uselessSkill }}</strong> So {{gender=='f' ? 's' : ''}}he studied programming instead.</p>
				<p id="two">What a great decision! With {{gender=='f' ? 'her' : 'his'}} skills, <strong>{{ name }}</strong> built a(n) <strong>{{ adjective }}</strong> Robot name <strong>{{ celeb }}</strong>That not only loved <strong>{{ dirtyTask }}</strong> but did it <strong>{{ hugeNum }}</storng> faster.</p>
			</div>
			<button id="startOverBtn" ng-click="resetGame()">Start Over</button>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script src="https://code.angularjs.org/1.2.16/angular-animate.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>